body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.App {
	margin: 16px;
}

.container {
	background: #eee;
	padding: 16px;
	margin-top: 16px;
	font-size: 1.2em;
	min-width: 500px;
}

.vertical-container {
	display: flex;
	flex-direction: column;
}

.horizontal-container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.horizontal-container > label{
	margin-top: 16px;
}
.horizontal-container > .search-input {
	margin-left: 20px;
}
.horizontal-container > .list-container {
	margin-left: 20px;
	flex: 1;
}
.horizontal-container > .no-data {
	margin-left: 20px;
}

.vertical-container > .search-input {
	margin-top: 20px;
}
.vertical-container > .list-container {
	margin-top: 20px;
}
.vertical-container > .no-data {
	margin-top: 20px;
}

label {
  color: grey;
	font-size: 16px;
	font-weight: bold;
}

.search-input {
	font-size: 18px;
	height: 48px;
	padding: 3px 10px;
	border-radius: 0;
	border: 1px solid lightgray;
}

.list-container {
	margin: 0;
	padding: 0;
}

.list-container > li {
	list-style: none;
	align-items: center;
	display: flex;
	border-bottom: 1px solid lightgray;
	height: 48px;
	padding: 0 30px;
}

.list-container > li:last-child {
  border-bottom: none;
}

.list-container > li > strong {
	flex: 1;
}

.list-container > li > span {
	margin-left: 10px;
}

.no-data {
  width: 100%;
	color: grey;
	font-size: 20px;
	text-align: center;
}

.no-data > p {
	margin-top: 10px;
	margin-bottom: 0;
}
